<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/icons8-oak-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/icons8-oak-16.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>The Oak</title>
</head>

<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col heading bg">
                    <h1 id="name">
                        The Oak
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul id="menu" class="list-inline col-md-12 d-flex justify-content-around">
                        <li class="menu-home">
                            <div class="">
                                <a href="index.html">
                                    <span class="span_menu_home">
                                        Home
                                    </span>
                            </div>
                            </a>
                        </li>
                        <li class="menu-info">
                            <a href="info.html">
                                <span>
                                    Information
                                </span>
                            </a>
                        </li>
                        <li class="menu-menu">
                            <span>
                                Menu
                            </span>
                            <div class="menu-list">
                                <ul class="ul-options">
                                    <li class="starters">
                                        <a href="menu-starters.html">
                                            Starters
                                        </a>
                                    </li>
                                    <li class="mains">
                                        <a href="menu-main.html">
                                            Main Course
                                        </a>
                                    </li>
                                    <li class="desserts">
                                        <a href="menu-desserts.html">
                                            Desserts
                                        </a>
                                    </li>
                                    <li class="drinks">
                                        <a href="menu-drinks.html">
                                            Drinks
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="menu-booking">
                            <a href="booking.html">
                                <span>
                                    Booking
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <main>
        <h2 class="starter-menu">Starters</h2>

        <div class="meal-name">Truffle Mushroom Risotto Balls:</div>
        Crispy arancini filled with truffle-infused mushroom risotto, served with a truffle aioli for dipping.

        <div class="meal-name">Smoked Salmon and Cucumber Canapés:</div>
        Delicate smoked salmon slices on crisp cucumber rounds, topped with herbed cream cheese and fresh dill.

        <div class="meal-name">Goat Cheese and Fig Crostini:</div>
        Toasted baguette slices topped with creamy goat cheese, fig compote, and a drizzle of honey. Garnished with
        chopped pistachios.

        <div class="meal-name">Seared Scallop with Citrus Beurre Blanc:</div>
        Perfectly seared scallop served with a citrusy beurre blanc sauce, accompanied by microgreens and a balsamic
        reduction.

        <div class="meal-name">Lobster Bisque:</div>
        Rich and velvety lobster soup with a touch of brandy, garnished with a dollop of crème fraîche and chives.

        <div class="meal-name">Caprese Salad Stacks:</div>
        Alternating layers of ripe heirloom tomatoes, fresh mozzarella, and basil leaves, drizzled with balsamic glaze
        and olive oil.

        <div class="meal-name">Duck Confit Spring Rolls:</div>
        Crispy spring rolls filled with tender duck confit, shredded vegetables, and hoisin dipping sauce.

        <div class="meal-name">Arugula and Prosciutto Flatbread:</div>
        Thin-crust flatbread topped with peppery arugula, prosciutto, shaved Parmesan, and a balsamic reduction.

        <div class="meal-name">Shrimp and Avocado Cocktail:</div>
        Chilled shrimp served with diced avocado, cocktail sauce, and a wedge of lemon. Presented in an elegant martini
        glass.

        <div class="meal-name">Caramelized Onion and Gruyère Tartlets:</div>
        Buttery tartlet shells filled with caramelized onions, Gruyère cheese, and a hint of thyme. Perfectly bite-sized
        and flavorful.

        <div class="meal-name">Tuna Tartare with Avocado Mousse:</div>
        Freshly diced tuna mixed with sesame soy dressing, served atop avocado mousse with crispy wonton chips.

        <div class="meal-name">Prosciutto-Wrapped Asparagus:</div>
        Tender asparagus spears wrapped in prosciutto and roasted until crispy. Served with a balsamic glaze.
    </main>

    <footer>
        <ul id="links">
            <li>
                <!--Link to X/Twitter-->
                <a href="https://www.x.com" target="_blank" rel="noopener" aria-label="Follow us on X!"><i
                        class="fa-brands fa-square-x-twitter"></i></a>
            </li>
            <li>
                <!--Link to Instagram-->
                <a href="https://www.instagram.com" target="_blank" rel="noopener"
                    aria-label="Follow us on Instagram!"><i class="fa-brands fa-square-instagram"></i></a>
            </li>
            <li>
                <!--Link to Facebook-->
                <a href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="Follow us on Facebook!"><i
                        class="fa-brands fa-square-facebook"></i></a>
            </li>
            <li>
                <!--Link to Youtube-->
                <a href="https://www.youtube.com" target="_blank" rel="noopener" aria-label="Watch us on Youtube!"><i
                        class="fa-brands fa-square-youtube"></i></a>
            </li>
        </ul>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/17b1279bab.js" crossorigin="anonymous"></script>
</body>

</html>