.menu-home {
    padding: 10px;
    text-align: center;
}

.menu-info {
    padding: 10px;
    text-align: center;
}

.menu-menu {
    padding: 10px;
    text-align: center;
}

.menu-booking {
    padding: 10px;
    text-align: center;
}

#menu {
    font-weight: 600;
    width: fit-content;
    position: absolute;
    top: 0;
    right: 50px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}