/*Header*/

.menu-home {
    padding: 10px;
    text-align: center;
}

.menu-info {
    padding: 10px;
    text-align: center;
}

.menu-menu {
    padding: 10px;
    text-align: center;
}

.menu-booking {
    padding: 10px;
    text-align: center;
}

#menu {
    font-weight: 600;
    width: fit-content;
    position: absolute;
    top: -50px;
    right: 1vh;
    flex-wrap: wrap;
    list-style: none;
}

header {
    box-shadow: 0px 5px 5px #000000;
    background-color: black;
}

h1 {
    color: white;
}

a {
    color: white;
}

/*Info Page*/

.restaurant-text{
    color: black;
    padding: 10px;
    font-size: large;
}

.contacts{
    margin-left:80%;
    margin-bottom: -150px;
}

footer{
    width: 100%;
}

#links {
    text-align: center;
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: black;
}

#links i {
    font-size: 150%;
    padding: 10%;
    color: rgb(61, 60, 60);
}