.menu-home {
    background-color: rgb(255, 169, 119);
    padding: 10px;
    text-align: center;
}

.menu-info {
    background-color: rgb(255, 169, 119);
    padding: 10px;
    text-align: center;
}

.menu-menu {
    background-color: rgb(255, 169, 119);
    padding: 10px;
    text-align: center;
}

.menu-booking {
    background-color: rgb(255, 169, 119);
    padding: 10px;
    text-align: center;
}

#menu {
    font-weight: 600;
    width: fit-content;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
}