{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}

{% block content %}
{% load static %}
    <main>
        <h2 class="welcome-heading">Welcome To The Oak</h2>
        <img id="slideshowImage" src="{% static 'images/dining-image.jpg' %}" class="dining" aria-label="A slideshow of
        images that show various parts of the restaurant">
        <button id="nextImage">Next</button>
        <h3 class="about">About</h3>
        <p class="about-text">This is a state of the art restaurant which serves a wide variety
            of dishes that come from a plethora of cultures.<br> This is a high quality dining
            experience that is guarenteed to please the customers. Using a range of fresh ingrediants<br>
            these meals are full of a range of flavours that only the most elite restaurants can create.
        </p>
    </main>
    <script src="{% static 'js/script.js' %}"></script>
    <script>
        const SlideshowImagesList = [
            "{% static 'images/dining-image.jpg' %}",
            "{% static 'images/wine-image.jpg' %}",
            "{% static 'images/steak-image.jpg' %}",
        ];
    </script>
{% endblock %}