{% extends 'base.html' %}
{% block title %}
Desserts
{% endblock %}

{% block content %}
{% load static %}
    <h1 class="title">Reservation Form</h1>
    <div class="login-or-out">
        {% if user.is_authenticated %}
        <p>Logged in as "{{ user.username }}"<a href="{% url 'logout' %}" class="logoutlink" aria-label="logout link"> Logout</a></p>       
        {% else %}
        <p>Please <a href="{% url 'login' %}" class="logoutlink" aria-label="login link">Login</a> here</p>
        {% endif %}
    </div>
    <form method="post" class="booking-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
{% endblock %}