{% extends 'base.html' %}
{% block title %}
View Bookings
{% endblock %}

{% block content %}
{% load static %}
    <main>
        <h2 class="view-bookings-title">View Bookings</h1>
            {% for booking in bookings %}
                <li>
                    {{ booking.customer_name }} - {{ booking.date }} at {{ booking.time }}
                    <form method="post" class="view-bookings-form">
                        {% csrf_token %}
                        <button type="submit" class="delete-btn">Delete</button>
                    </form>
                </li>
            {% empty %}

            {% endfor %}

    </main>
{% endblock %}